<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eNett.IntegrationHub.SourceSystems.Reference.Properties.Settings.ReferenceConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Reference;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>