<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eNett.IntegrationHub.SourceSystems.Client.Properties.Settings.ClientConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Client;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>