<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eNett.IntegrationHub.Data.Properties.Settings.IntegrationConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Integration;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>